html, body {
	height: 100%;
    background-image: url("old_wall.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a {
	border: 0 none;
	text-decoration: none;
	margin-bottom: 20px;
	white-space: nowrap;
}

h1 { 
	font-size: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	font-weight: bold;
}

h2 { 
	font-size: 30px; 
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	padding-top: 35px;
	padding-bottom: 35px;
	border-bottom: 3px solid #dddddd;
	margin-left: 30px;
	margin-right: 30px;
	font-weight: bold;
}

h3 { 
	font-size: 22px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 32px;
	margin-right: 32px;
	border-bottom: 2px solid #dddddd;
	text-align: left;
	font-weight: bold;
}

p {
	margin: 20px 20px 10px 30px;
	line-height: 200%;
}

textarea {
	margin-top: 10px;
	margin-bottom: 5px;
}

	/* NAVIGATION BAR HERE */

ul {
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: lighter;
}

li {
    float: right;
    white-space: nowrap;

}

li a {
    display: block;
    text-align: left;
    padding: 10px 15px;
    color: #9999a4;
    text-decoration: none;
}

	/* THAT WAS THE NAV BAR */


.folio-img {
	margin-left: 32px;
	margin-right: 5px;
	margin-top: 40px;
	height: 205px;
	width: 275px;
	float: left;
	justify-content: center;
	align-items: center;
}

.labels {
	margin-bottom: 15px;
}


.overlay {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 93px;
	padding-right: 94px;
	text-align: center;
	white-space: nowrap
}

.port_img {
	height: 205;
	width: 175;
}

.about-para {
	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 10px;
	float: left;
	clear: left;
}

.box {
	border: 1px solid #dddddd
}

.mess {
	font-size: 15px;
}

.con {
	font-size: 18px
}

.conn-links {
	display: inline-block;
}

.conn-img {
	margin: 25px 3px 25px 3px;
	height: 62px;
	width: 62px;
}

.contact {
	padding-bottom: 10px;
}

.container {
	float: left;
	width: 100%;
	margin-top: 40px;
	display: inline;
}

.hover-rotate:hover {
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.input {
	height: 30px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.page-title {
	background-color: #3faaa5;
	border: 25px solid #3faaa5;
	float: left;
	height: 40px;
	margin-left: 155px;
	margin-top: 0px;
	font-weight: bold;
	white-space: nowrap;
}

.portbanner {
	background-color: #4aaaa5;
	border: 25px solid #4aaaa5;
	float: left;
	height: 40px;
	margin-left: 155px;
	margin-top: 0px;
}

.portcontainer {
	float: left;
	width: 100%;
	margin-top: 40px;
	display: inline;
}	

/* .row {
	margin: 5px 5px 5px 5px;
}
*/
.spacer {
	border: 0 none;
	text-decoration: none;
	margin-top: 8px;
	white-space: nowrap;
	color: #efefef;
}

#about-me {
	width: 650px; 
	height: 100%;
	text-align: left;
	color: #777777;
	background-color: #ffffff;
	float: left;
	margin-left: 155px;
	margin-bottom: 40px;
}

#connect {
	width: 270px;
	height: 100px;
	background-color: #ffffff;
	text-align: center;
	float: left;
	margin-left: 845px;
	padding-top: 10px;
	padding-bottom: 100px;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
}

#contact_form {
	margin: 25px 30px 25px 30px;
}

#imgcontainer {
	width: 650px; 
	height: 100%;
	text-align: left;
	color: #777777;
	background-color: #ffffff;
	float: left;
	margin-left: 155px;
	margin-bottom: 40px;
}

#footer {
	width: 100%;
	height: 80px;
	font-size: 0.75rem;
	color: #cccccc;
	text-align: center;
	background-color: #666666;
  	clear: both;
  	border-top-style: solid;
  	border-width: 8px;
  	border-color: #4aaaa5;
  	padding-top: 10px;
}

#header {
	width: 100%;
	height:	90px;
	background-color: #ffffff;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-color: #dddddd;
	white-space: nowrap;
}

#nav-bar {
	position: absolute;
	margin-left: 850px;
}

#overlay1 {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-top: 165px;
	margin-left: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 93px;
	padding-right: 94px;
	text-align: center;
	white-space: nowrap
}

#overlay2 {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-top: 165px;
	margin-left: 344px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 89px;
	padding-right: 89px;
	text-align: center;
	white-space: nowrap
}

#overlay3 {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-top: 415px;
	margin-left: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 83px;
	padding-right: 83px;
	text-align: center;
	white-space: nowrap
}

#overlay4 {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-top: 415px;
	margin-left: 344px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 48px;
	padding-right: 48px;
	text-align: center;
	white-space: nowrap
}

#overlay5 {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-top: 665px;
	margin-left: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 45px;
	padding-right: 44px;
	text-align: center;
	white-space: nowrap
}

#portfolio {
	width: 650px; 
	height: auto;
	color: #777777;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #ffffff;
	font-size: 20px;
	float: left;
	display: inline;
	margin-left: 155px;
	margin-bottom: 60px;
	padding-bottom: 30px;
	clear: both;
}

#submit_button {
	background-color: #4aaaa5;
	border: 8px solid #4aaaa5;
	color: #ffffff;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 20px;
}