html, body {
	padding: 0;
    margin: 0;
	height: 100%;
    background-image: url("old_wall.png");
    font-weight: normal;
}

h1 { 
	font-size: 30px; font-family: 'Georgia', Times, Times New Roman, serif;
color: #ffffff;
}

h2 { 
	font-size: 30px; font-family: 'Georgia', Times, Times New Roman, serif;
color: #4aaaa5; margin-left: 30px;
}

h3 { 
	font-size: 20px; font-family: 'Georgia', Times, Times New Roman, serif;
color: #4aaaa5; 
}

hr {
	height: 1px;
	align: center;
	margin-left: 30px;
	margin-right: 30px;
	color: #DCDCDC;
	border: 0;
	height: 2px;
}

p {
	margin: 20px 20px 10px 30px;
	line-height: 200%;
}

	/* NAVIGATION BAR HERE */

ul {
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;

}

li a {
    display: block;
    text-align: left;
    padding: 10px 16px;
    color: #cccccc;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

	/* THAT WAS THE NAV BAR */

.conn-links {
	display: inline-block;
}

.container {
	float: left;
	width: 100%;
	margin-top: 10px;
	display: inline;
}

.hover-rotate {
	margin-left: 30px;
}

.hover-rotate: hover {
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.page-title {
	background-color: #4aaaa5;
	border: 25px solid #4aaaa5;
	float: left;
	height: 40px;
	margin-left: 82px;
	margin-top: 0px;
}

.portbanner {
	background-color: #4aaaa5;
	border: 25px solid #4aaaa5;
	float: left;
	height: 40px;
	margin-left: 155px;
	margin-top: 0px;
}

.portcontainer {
	float: left;
	width: 100%;
	margin-top: 10px;
	display: inline;
}	

.row {
	margin: 5px 5px 5px 5px;
}

#about-me {
	width: 650px; 
	height: 100%;
	text-align: left;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	float: left;
	border-style: solid;
	border-width: 1px;
	margin-left: 82px;
	margin-bottom: 40px;
	border-color: #cccccc;
}

#connect {
	width: 270px;
	height: 100px;
	background-color: #ffffff;
	text-align: center;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	margin-left: 773px;
	padding-top: 10px;
	padding-bottom: 90px;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
}

#imgcontainer {
	width: 650px; 
	height: 100%;
	text-align: left;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	float: left;
	border-style: solid;
	border-width: 1px;
	margin-left: 155px;
	margin-bottom: 40px;
	border-color: #cccccc;
}

#footer {
	width: 100%;
	height: 80px;
	font-size: 0.75rem;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #cccccc;
	text-align: center;
	background-color: #666666;
  	clear: both;
  	border-top-style: solid;
  	border-width: 5px;
  	border-color: #4aaaa5;
  	padding-top: 10px;
}

#header {
	width: 100%;
	height:	90px;
	background-color: #ffffff;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-color: #cccccc;
}

#nav-bar {
	position: absolute;
	margin-left: 810px;
}

#overlay1 {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-top: 165px;
	margin-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 93px;
	padding-right: 94px;
	text-align: center;
	white-space: nowrap
}

#overlay2 {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-top: 165px;
	margin-left: 345px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 89px;
	padding-right: 89px;
	text-align: center;
	white-space: nowrap
}

#overlay3 {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-top: 415px;
	margin-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 83px;
	padding-right: 83px;
	text-align: center;
	white-space: nowrap
}

#overlay4 {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-top: 415px;
	margin-left: 345px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 48px;
	padding-right: 48px;
	text-align: center;
	white-space: nowrap
}

#overlay5 {
	position: absolute;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-top: 665px;
	margin-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 45px;
	padding-right: 45px;
	text-align: center;
	white-space: nowrap
}


#portfolio {
	width: 650px; 
	height: 100%;
	text-align: left;
	color: #777777;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #ffffff;
	font-size: 20px;
	float: left;
	display: inline;
	border-style: solid;
	border-width: 1px;
	margin-left: 82px;
	margin-bottom: 40px;
	border-color: #cccccc;
}

#submit_button {
	background-color: #4aaaa5;
	border: 12px solid #4aaaa5;
	color: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
	margin-left: 5px;
	padding-left: 15px;
	padding-right: 15px;
}