html, body {
	padding: 0;
    margin: 0;
	height: 100%;
    background-image: url("old_wall.png");
}

h1 { 
	font-size: 30px; font-family: 'Georgia', Times, Times New Roman, serif;
color: #ffffff;
}

h2 { 
	font-size: 30px; font-family: 'Georgia', Times, Times New Roman, serif;
color: #4aaaa5; margin-left: 30px;
}

h3 { 
	font-size: 20px; font-family: 'Georgia', Times, Times New Roman, serif;
color: #4aaaa5; 
}

hr {
	height: 1px;
	align: center;
	margin-left: 30px;
	margin-right: 30px;
	color: #cccccc;
}

p {
	margin: 20px 20px 10px 30px;
	line-height: 200%;
}

/* NAVIGATION BAR HERE */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    margin-right: 150px;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: left;
    padding: 30px 16px;
    color: #cccccc;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.row {
	margin: 5px 5px 5px 5px;
}

.container {
	float: left;
	width: 100%;
	margin-top: 10px;
}

.page-title {
background-color: #4aaaa5;
border: 25px solid #4aaaa5;
float: left;
height: 40px;
margin-left: 155px;
margin-top: 0px;
}

#submit_button {
background-color: #4aaaa5;
border: 12px solid #4aaaa5;
color: #ffffff;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
font-size: 15px;
margin-left: 5px;
padding-left: 15px;
padding-right: 15px;
}


#about-me {
width: 650px; 
height: 100%;
text-align: left;
font-weight: 100;
color: #777777;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
background-color: #ffffff;
float: left;
border-style: solid;
border-width: 1px;
margin-left: 155px;
margin-bottom: 40px;
border-color: #cccccc;
}

#imgcontainer {
width: 650px; 
height: 100%;
text-align: left;
font-weight: 100;
color: #777777;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
background-color: #ffffff;
float: left;
border-style: solid;
border-width: 1px;
margin-left: 155px;
margin-bottom: 40px;
border-color: #cccccc;
}

#connect {
width: 270px;
height: 100px;
background-color: #ffffff;
text-align: center;
float: right;
border-style: solid;
border-width: 1px;
border-color: #cccccc;
margin-bottom: 40px;
margin-right: 155px;
padding-top: 10px;
padding-bottom: 90px;
}

#header {
	width: 100%;
	height:	90px;
	background-color: #ffffff;
	border-bottom-style: solid;
	border-color: #cccccc;
}

#footer {
	width: 100%;
	height: 80px;
	font-size: 0.75rem;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #cccccc;
	text-align: center;
	background-color: #666666;
  	clear: both;
  	border-top-style: solid;
  	border-width: 5px;
  	border-color: #4aaaa5;
  	padding-top: 10px;
}